.window-heigh {
  height: 100vh;
}

.icon-button {
  background: none;
  border: none;
  color: inherit;
}

.form-control {
  height: 26px;
}

/* FileList */
.font-markdown-padding {
  padding: 0;
}
.font-icon-pad-left {
  padding-left: 0;
}
/* .font-icon-pad-right {
  padding-right: 0;
} */

/* right-bottom */
.left-btn-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
